# ONLY SYNC THESE FILES
# If you need something to be synced to the git repo, place it here!

!app/classes/views/*
!app/classes/controller/groupproject.php
!app/classes/model/*

# Ignore everything else:
app/*
core/*
packages/*
vendor/*
