# ONLY SYNC THESE FILES
# If you need something to be synced to the git repo, place it here!

### Ignore everything ###
# but do not ignore the .gitignore file
!.gitignore



!app/classes/controller
app/classes/presenter
app/classes/model

# Other assignment controllers
app/classes/controller/eastwest.php
app/classes/controller/home.php
app/classes/controller/groupproject.php
app/classes/controller/welcome.php

app/cache/
app/config/
app/config/
app/lang/
app/logs/
app/migrations/
app/modules/
app/tasks/
app/tests/
app/themes/
app/tmp/
app/views/eastwest/
app/views/home/
app/views/welcome/
app/views/template.php
app/bootstrap.php


core/
packages/
vendor/
